body {
  margin: 0;
  background-image: url("cobblestone.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
    text-size: 40px;
}

li a:not(.source) {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #cc7777;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.source {
  color: #ff6666;
  border-radius: 7px;
  padding: 5px;
  transition: background-color 1s, color 1s;
}

.source:hover {
  color: #aaffff;
  background-color: gray;
}

h1 {
  color: #ee3333;
  font-size: 50px;
  text-align: center;
  font-family: "Helvetica Neue";
}

p {
  color: #ff8888;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica Neue";
}

#home_text {
  margin-left:30%;
  margin-right:10%;
  padding:1px 16px;
  height: 500px;
}
